
{% extends 'base.html.twig' %}

    {% block title %}Brillante Media{% endblock %}
 
   {% block body %}
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>

   
     <!-- loader END -->


        <div class=" iq-bg-over-50 "style="padding-top:70px" >  
            <div class="container-fluid" style="background: #F8F8FF"> 
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                            <h2 class="title" style="color: black">BRILLANTE.MEDIA</h2>
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="">Home</a></li> 
                                <li class="breadcrumb-item active">Qui sommes-nous?</li>
                            </ol>
                        </nav>
                    </div>
                </div> 
            </div>
        </div> 

        <!-- mastermind start -->

        <main id="main" class="site-main">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-sm-12 mb-sm-4">

                     <div class="text-center iq-title-box iq-title-default">
                        <h2 class="iq-title text-capitalize">
                           Masterminds team
                        </h2>
                        <p class="iq-title-desc">
                        BRILLANTE.MEDIA

                        c'est:

                        un collectif dont les membres fondatrices sont des femmes avec une expérience de la production audiovisuelle, cinématographique  et techniques ( cheffe opératrice image, réalisatrice, journaliste, monteuse, productrice) et aussi avec des compétences numériques en développement web.
                        <br>
                        Une équipe multiculturelle et multi-lingue : Europe, France, Italie, Allemagne, Espagne, Amerique Latine et Maghreb.
                        <br>
                        De cette diversité se crée une synergie qui prône l'acceptation des unes, des uns et des autres.

                        Dans un contexte où 80% des films sont réalisés par des hommes, (développer l'idée de du manque de représentativité des femmes à l'écran bien qu’il y ait ces derniers années beaucoup d’avancées, elle sont encore insuffisantes)  BRILLANTE.MEDIA propose de poser un regard féminin  sur des personnages féminins, sur les féminités, les genres, les feminitudes, l’empowerment, l’égalité des sexes.
                         Être dans la tête des femmes, dans leur peau, dans leur ressenti, lutter contre les stéréotypes, proposer des alternatives touchant à l’histoire des femmes, à leurs créations. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
      </main>

     
   
{% endblock %}