{% extends 'base.html.twig' %}

    {% block title %}Brillante Media{% endblock %}
 
   {% block body %}
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->

      <!-- Slider Start -->
      {# <section id="home" class="iq-main-slider p-0">
         <div id="home-slider" class="slider m-0 p-0">
            <div class="slide slick-bg s-bg-1">
               <div class="container-fluid position-relative h-100">
                  <div class="slider-inner h-100">
                     <div class="row align-items-center  h-100">
                        <div class="col-xl-6 col-lg-12 col-md-12">
                           <a href="javascript:void(0);">
                              <div class="channel-logo" data-animation-in="fadeInLeft" data-delay-in="0.5">
                                 <img src="images/logo.png" class="c-logo" alt="streamit">
                              </div>
                           </a>
                           <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                              data-delay-in="0.6">bushland</h1>

                              <div class="d-flex flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft" style="opacity: 1;">
                                <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3">
                                    <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                       <li>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                       </li>
                                       <li>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                       </li>
                                       <li>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                       </li>
                                       <li>
                                          <i class="fa fa-star" aria-hidden="true"></i>
                                       </li>
                                       <li>
                                          <i class="fa fa-star-half" aria-hidden="true"></i>
                                       </li>
                                    </ul>
                                    <span class="text-white ml-2">4.7(lmdb)</span>
                                    </div>
                                    <div class="d-flex align-items-center mt-2 mt-md-3">
                                       <span class="badge badge-secondary p-2">18+</span>
                                       <span class="ml-3">2 Seasons</span>
                                    </div>
                            </div>

                           <!-- <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
                               
                              <span class="badge badge-secondary p-2">18+</span>
                              <span class="ml-3">2 Seasons</span>
                           </div> -->
                           <p data-animation-in="fadeInUp" data-delay-in="1.2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                              dummy text ever since the 1500s.
                           </p>
                           <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                            <div class="text-primary title starring">
                                Starring: <span class="text-body">Karen Gilchrist, James Earl Jones</span>
                            </div>
                            <div class="text-primary title genres">
                                Genres: <span class="text-body">Action</span>
                            </div>
                            <div class="text-primary title tag">
                                Tag: <span class="text-body">Action, Adventure, Horror</span>
                            </div>
                        </div>
                           <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.2">
                              <a href="show-details.html" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                                 aria-hidden="true"></i>Play Now</a>
                              <a href="show-details.html" class="btn btn-link">More details</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                        <a href="video/trailer.mp4" class="video-open playbtn">
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                              enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10"
                                 points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                              <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                           </svg>
                           <span class="w-trailor">Watch Trailer</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide slick-bg s-bg-2">
               <div class="container-fluid position-relative h-100">
                  <div class="slider-inner h-100">
                     <div class="row align-items-center  h-100">
                        <div class="col-xl-6 col-lg-12 col-md-12">
                           <a href="javascript:void(0);">
                              <div class="channel-logo" data-animation-in="fadeInLeft">
                                 <img src="images/logo.png" class="c-logo" alt="streamit">
                              </div>
                           </a>
                           <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft">sail coaster</h1>
                           
                           <div class="d-flex flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft" style="opacity: 1;">
                            <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3">
                                <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                            <li>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </li>
                                                                                    </ul>
                                <span class="text-white ml-2">4.7(lmdb)</span>
                                </div>
                                                            <div class="d-flex align-items-center mt-2 mt-md-3">
                                <span class="badge badge-secondary p-2">16+</span>
                                <span class="ml-3">2h 40m</span>
                            </div>
                        </div>
                           <p data-animation-in="fadeInUp" data-delay-in="0.7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                              dummy text ever since the 1500s.
                           </p>
                           <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                            <div class="text-primary title starring">
                                Starring: <span class="text-body">Karen Gilchrist, James Earl Jones</span>
                            </div>
                            <div class="text-primary title genres">
                                Genres: <span class="text-body">Action</span>
                            </div>
                            <div class="text-primary title tag">
                                Tag: <span class="text-body">Action, Adventure, Horror</span>
                            </div>
                        </div>
                           <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1">
                              <a href="movie-details.html" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                                 aria-hidden="true"></i>Play Now</a>
                              <a href="movie-details.html" class="btn btn-link">More details</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                        <a href="video/trailer.mp4" class="video-open playbtn">
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                              enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10"
                                 points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                              <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                           </svg>
                           <span class="w-trailor">Watch Trailer</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slide slick-bg s-bg-3">
               <div class="container-fluid position-relative h-100">
                  <div class="slider-inner h-100">
                     <div class="row align-items-center  h-100">
                        <div class="col-xl-6 col-lg-12 col-md-12">
                           <a href="javascript:void(0);">
                              <div class="channel-logo" data-animation-in="fadeInLeft">
                                 <img src="images/logo.png" class="c-logo" alt="streamit">
                              </div>
                           </a>
                           <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft">the army</h1>
                           
                           <div class="d-flex flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft" style="opacity: 1;">
                            <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3">
                                <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                        <li>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                                                                                            <li>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </li>
                                                                                    </ul>
                                <span class="text-white ml-2">4.7(lmdb)</span>
                                </div>
                                                            <div class="d-flex align-items-center mt-2 mt-md-3">
                                <span class="badge badge-secondary p-2">20+</span>
                                <span class="ml-3">3h</span>
                            </div>
                        </div>

                           
                           <p data-animation-in="fadeInUp" data-delay-in="1.2" class="fadeInUp animated" style="opacity: 1; animation-delay: 1.2s;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                              dummy text ever since the 1500s.
                           </p>
                           <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                            <div class="text-primary title starring">
                                Starring: <span class="text-body">Karen Gilchrist, James Earl Jones</span>
                            </div>
                            <div class="text-primary title genres">
                                Genres: <span class="text-body">Action</span>
                            </div>
                            <div class="text-primary title tag">
                                Tag: <span class="text-body">Action, Adventure, Horror</span>
                            </div>
                        </div>
                           <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1">
                              <a href="movie-details.html" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                                 aria-hidden="true"></i>Play Now</a>
                              <a href="movie-details.html" class="btn btn-link">More details</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-5 col-lg-12 col-md-12 trailor-video">
                        <a href="video/trailer.mp4" class="video-open playbtn">
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                              enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10"
                                 points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                              <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                           </svg>
                           <span class="w-trailor">Watch Trailer</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle"
               fill="none" stroke="currentColor">
               <circle r="20" cy="22" cx="22" id="test"></circle>
            </symbol>
         </svg>
      </section> #}
      <!-- Slider End -->

      <!-- MainContent -->
       <main>
            <div class="main-content">
              
               <section id="iq-upcoming-movie" style="padding-top: 100px">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                           <div class="iq-main-header d-flex align-items-center justify-content-between">                        
                              <h4 class="main-title" style="color : black">Court métrage</h4>
                              <a class="iq-view-all" href="movie-category.html">View All</a>
                           </div>
                           <div class="upcoming-contens">
                              <ul class="favorites-slider list-inline row p-0 mb-0">
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/upcoming/01.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Film 1</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">5+</div>
                                                <span class="text-white">durée</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now
                                                </span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                 
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/upcoming/02.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Film 2</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">22+</div>
                                                <span class="text-white">Durée </span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now
                                                </span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">
                                 
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/upcoming/03.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"> <a href="movie-details.html">Film 3</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">25+</div>
                                                <span class="text-white">Durée</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now
                                                </span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>     
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/upcoming/04.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Film 4</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">11+</div>
                                                <span class="text-white">durée</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now
                                                </span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/upcoming/05.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Film 5</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">9+</div>
                                                <span class="text-white">Durée</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now
                                                </span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="#" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div> 
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
             
               <section id="iq-suggestede" class="s-margin">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                           <div class="iq-main-header d-flex align-items-center justify-content-between">                       
                              <h4 class="main-title" style="color : black">Moyen métrage</h4>
                              <a class="iq-view-all" href="movie-category.html">View All</a>                     
                           </div>
                           <div class="suggestede-contens">
                              <ul class="list-inline favorites-slider row p-0 mb-0">
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/suggested/01.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Inside the Sea</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">11+</div>
                                                <span class="text-white">2h 30m</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/suggested/02.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">Jumbo Queen</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">9+</div>
                                                <span class="text-white">2 Seasons</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>

                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/suggested/03.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Unknown Land</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">17+</div>
                                                <span class="text-white">2h 30m</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">                              
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/suggested/04.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">Friends</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">14+</div>
                                                <span class="text-white">10 Seasons</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>                              
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/suggested/05.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="movie-details.html">Blood Block</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">13+</div>
                                                <span class="text-white">2h 40m</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
           
               <section id="iq-tvthrillers" class="s-margin">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                           <div class="iq-main-header d-flex align-items-center justify-content-between">                        
                              <h4 class="main-title" style="color : black">Long métrage</h4>
                              <a class="iq-view-all" href="movie-category.html">View All</a>                        
                           </div>
                           <div class="tvthrillers-contens">
                              <ul class="favorites-slider list-inline row p-0 mb-0">
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/tvthrillers/01.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">Day of Darkness</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">15+</div>
                                                <span class="text-white">2 Seasons</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                 
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/tvthrillers/02.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">My True Friends</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">7+</div>
                                                <span class="text-white">2 Seasons</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/tvthrillers/03.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">Arrival 1999</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">11+</div>
                                                <span class="text-white">3 Seasons</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/tvthrillers/04.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">Night Mare</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">18+</div>
                                                <span class="text-white">3 Seasons</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                    
                                 </li>
                                 <li class="slide-item">
                                    
                                       <div class="block-images position-relative">
                                          <div class="img-box">
                                             <img src="images/tvthrillers/05.jpg" class="img-fluid" alt="">
                                          </div>
                                          <div class="block-description">
                                             <h6 class="iq-title"><a href="show-details.html">The Marshal King</a></h6>
                                             <div class="movie-time d-flex align-items-center my-2">
                                                <div class="badge badge-secondary p-1 mr-2">17+</div>
                                                <span class="text-white">1 Season</span>
                                             </div>
                                             <div class="hover-buttons">
                                                <span class="btn btn-hover iq-button"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now</span>
                                             </div>
                                          </div>
                                          <div class="block-social-info">
                                             <ul class="list-inline p-0 m-0 music-play-lists">
                                                <li class="share">
                                                   <span><i class="ri-share-fill"></i></span>
                                                   <div class="share-box">
                                                      <div class="d-flex align-items-center">
                                                         <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                         <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                         <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                      </div>
                                                   </div>
                                                </li>
                                                <li><span><i class="ri-heart-fill"></i></span>
                                             <span class="count-box">19+</span></li>
                                                <li><span><i class="ri-add-line"></i></span></li>
                                             </ul>
                                          </div>
                                       </div>
                                 
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>


            <!-- MainContent End-->

            <!-- back-to-top -->
            <div id="back-to-top">
               <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
            </div>
            <!-- back-to-top End -->
         </main>  
    {% endblock %}
